:root {
  // accent
  --color-accent: #192746;

  // success
  --color-success: #14cc70;

  // danger
  --color-danger: #cc1439;

  // warning
  --color-warning: #d99000;

  // info
  --color-info: #397df6;
  --color-info-100: #3b4363;

  // light
  --color-light: #fff;
  --color-light-100: #bbbbbb;
}